<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhr360.partner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.hhr360.partner.PartnerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.hhr360.partner.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hhr360.partner.activity.PartnerManagerActivity" />
        <activity android:name="com.hhr360.partner.activity.PartnerActivity" />
        <activity
            android:name="com.hhr360.partner.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.hhr360.partner.activity.RegisterActivity" />
        <activity android:name="com.hhr360.partner.activity.FindPasswordActivity" />
        <activity android:name="com.hhr360.partner.activity.ResetPasswordActivity" />
        <activity android:name="com.hhr360.partner.activity.CaptureActivity" />
        <activity android:name="com.hhr360.partner.activity.SubMyInviteActivity" />
        <activity android:name="com.hhr360.partner.activity.SubMyPartnerActivity" />
        <activity
            android:name="com.hhr360.partner.activity.ResetPwdDialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.hhr360.partner.activity.SubMyPartnerDetailFirstActivity" />
        <activity android:name="com.hhr360.partner.activity.SubMyPartnerDetailSecondActivity" />
        <activity android:name="com.hhr360.partner.activity.SettingsActivity" />
    </application>

</manifest>