<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.bjtu.partner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="cn.edu.bjtu.partner.PartnerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.edu.bjtu.partner.activity.PartnerManagerActivity" />
        <activity android:name="cn.edu.bjtu.partner.activity.PartnerActivity" />
        <activity android:name="cn.edu.bjtu.partner.activity.LoginActivity" />
        <activity android:name="cn.edu.bjtu.partner.activity.RegisterActivity" />
        <activity android:name="cn.edu.bjtu.partner.activity.FindPasswordActivity" />
        <activity android:name="cn.edu.bjtu.partner.activity.ResetPasswordActivity" />
        <activity
            android:name="cn.edu.bjtu.partner.activity.CaptureActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>